CREATE DATABASE FINALASS_FPOLYSHOP_FA22_SOF205__SOF2041;
USE [FINALASS_FPOLYSHOP_FA22_SOF205__SOF2041]
GO
/****** Object:  Table [dbo].[ChiTietSP]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSP]
(
    [Id]         [uniqueidentifier] NOT NULL,
    [IdSP]       [uniqueidentifier] NULL,
    [IdNsx]      [uniqueidentifier] NULL,
    [IdMauSac]   [uniqueidentifier] NULL,
    [IdDongSP]   [uniqueidentifier] NULL,
    [NamBH]      [int]              NULL,
    [MoTa]       [nvarchar](50)     NULL,
    [SoLuongTon] [int]              NULL,
    [GiaNhap]    [decimal](20, 0)   NULL,
    [GiaBan]     [decimal](20, 0)   NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu]
(
    [Id]  [uniqueidentifier] NOT NULL,
    [Ma]  [varchar](20)      NULL,
    [Ten] [nvarchar](50)     NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang]
(
    [Id]       [uniqueidentifier] NOT NULL,
    [Ma]       [varchar](20)      NULL,
    [Ten]      [nvarchar](50)     NULL,
    [DiaChi]   [nvarchar](100)    NULL,
    [ThanhPho] [nvarchar](50)     NULL,
    [QuocGia]  [nvarchar](50)     NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongSP]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongSP]
(
    [Id]  [uniqueidentifier] NOT NULL,
    [Ma]  [varchar](20)      NULL,
    [Ten] [nvarchar](30)     NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang]
(
    [Id]            [uniqueidentifier] NOT NULL,
    [IdKH]          [uniqueidentifier] NULL,
    [IdNV]          [uniqueidentifier] NULL,
    [Ma]            [varchar](20)      NULL,
    [NgayTao]       [date]             NULL,
    [NgayThanhToan] [date]             NULL,
    [TenNguoiNhan]  [nvarchar](50)     NULL,
    [DiaChi]        [nvarchar](100)    NULL,
    [Sdt]           [varchar](30)      NULL,
    [TinhTrang]     [int]              NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet]
(
    [IdGioHang]     [uniqueidentifier] NOT NULL,
    [IdChiTietSP]   [uniqueidentifier] NOT NULL,
    [SoLuong]       [int]              NULL,
    [DonGia]        [decimal](20, 0)   NULL,
    [DonGiaKhiGiam] [decimal](20, 0)   NULL,
    CONSTRAINT [PK_GioHangCT] PRIMARY KEY CLUSTERED
        (
         [IdGioHang] ASC,
         [IdChiTietSP] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon]
(
    [Id]            [uniqueidentifier] NOT NULL,
    [IdKH]          [uniqueidentifier] NULL,
    [IdNV]          [uniqueidentifier] NULL,
    [Ma]            [varchar](20)      NULL,
    [NgayTao]       [date]             NULL,
    [NgayThanhToan] [date]             NULL,
    [NgayShip]      [date]             NULL,
    [NgayNhan]      [date]             NULL,
    [TinhTrang]     [int]              NULL,
    [TenNguoiNhan]  [nvarchar](50)     NULL,
    [DiaChi]        [nvarchar](100)    NULL,
    [Sdt]           [varchar](30)      NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet]
(
    [IdHoaDon]    [uniqueidentifier] NOT NULL,
    [IdChiTietSP] [uniqueidentifier] NOT NULL,
    [SoLuong]     [int]              NULL,
    [DonGia]      [decimal](20, 0)   NULL,
    CONSTRAINT [PK_HoaDonCT] PRIMARY KEY CLUSTERED
        (
         [IdHoaDon] ASC,
         [IdChiTietSP] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang]
(
    [Id]       [uniqueidentifier] NOT NULL,
    [Ma]       [varchar](20)      NULL,
    [Ten]      [nvarchar](30)     NULL,
    [TenDem]   [nvarchar](30)     NULL,
    [Ho]       [nvarchar](30)     NULL,
    [NgaySinh] [date]             NULL,
    [Sdt]      [varchar](30)      NULL,
    [DiaChi]   [nvarchar](100)    NULL,
    [ThanhPho] [nvarchar](50)     NULL,
    [QuocGia]  [nvarchar](50)     NULL,
    [MatKhau]  [varchar](max)     NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac]
(
    [Id]  [uniqueidentifier] NOT NULL,
    [Ma]  [varchar](20)      NULL,
    [Ten] [nvarchar](30)     NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien]
(
    [Id]        [uniqueidentifier] NOT NULL,
    [Ma]        [varchar](20)      NULL,
    [Ten]       [nvarchar](30)     NULL,
    [TenDem]    [nvarchar](30)     NULL,
    [Ho]        [nvarchar](30)     NULL,
    [GioiTinh]  [nvarchar](10)     NULL,
    [NgaySinh]  [date]             NULL,
    [DiaChi]    [nvarchar](100)    NULL,
    [Sdt]       [varchar](30)      NULL,
    [MatKhau]   [varchar](max)     NULL,
    [IdCH]      [uniqueidentifier] NULL,
    [IdCV]      [uniqueidentifier] NULL,
    [IdGuiBC]   [uniqueidentifier] NULL,
    [TrangThai] [int]              NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSX]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSX]
(
    [Id]  [uniqueidentifier] NOT NULL,
    [Ma]  [varchar](20)      NULL,
    [Ten] [nvarchar](30)     NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 29/03/2023 12:34:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham]
(
    [Id]  [uniqueidentifier] NOT NULL,
    [Ma]  [varchar](20)      NULL,
    [Ten] [nvarchar](30)     NULL,
    PRIMARY KEY CLUSTERED
        (
         [Id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietSP] ([Id], [IdSP], [IdNsx], [IdMauSac], [IdDongSP], [NamBH], [MoTa], [SoLuongTon], [GiaNhap],
                          [GiaBan])
VALUES (N'65ed8d2d-1623-446c-bf34-2c99fa6774fb', N'31de5538-6ade-4f2d-96e0-7857fa682cbb',
        N'26edeb82-8020-4e6c-92a9-5a1c4b1f1b4c', N'2f5169fe-1d80-435d-9780-612738ea52d2',
        N'e9c5fde5-d87c-40e3-a7a4-a902299c8aec', 1, N'chống điện tốt', 100, CAST(12000 AS Decimal(20, 0)),
        CAST(19000 AS Decimal(20, 0)))
INSERT [dbo].[ChiTietSP] ([Id], [IdSP], [IdNsx], [IdMauSac], [IdDongSP], [NamBH], [MoTa], [SoLuongTon], [GiaNhap],
                          [GiaBan])
VALUES (N'10d96f64-5cab-4534-9659-3c91038b0d5d', NULL, NULL, NULL, NULL, 1991, N'chống điện tốt', 100,
        CAST(12000 AS Decimal(20, 0)), NULL)
INSERT [dbo].[ChiTietSP] ([Id], [IdSP], [IdNsx], [IdMauSac], [IdDongSP], [NamBH], [MoTa], [SoLuongTon], [GiaNhap],
                          [GiaBan])
VALUES (N'61ef5a8e-2013-4778-b314-5fe560ef6a1d', N'b2c9ef1c-a009-472a-b37a-511de397fa17',
        N'b09bb1ed-796d-4fe9-9453-8e21ca0e274c', N'f6bb1959-2bd6-4287-94d8-010a2703cef1',
        N'10a17b05-a2bd-4eda-8a8f-ad3e0e4f7dcd', 2, N'xin hãy nhẹ tay', 24, CAST(30000 AS Decimal(20, 0)),
        CAST(40000 AS Decimal(20, 0)))
GO
INSERT [dbo].[ChucVu] ([Id], [Ma], [Ten])
VALUES (N'ff9e5171-88ea-4c6a-b258-c9465a76ec0a', N'CV03', N'Phó giám Đốc')
INSERT [dbo].[ChucVu] ([Id], [Ma], [Ten])
VALUES (N'b075a122-b02d-481e-ba38-f5661e540c2b', N'CV01', N'Trưởng Phòng Vip')
GO
INSERT [dbo].[CuaHang] ([Id], [Ma], [Ten], [DiaChi], [ThanhPho], [QuocGia])
VALUES (N'00401583-21fa-46ef-be64-1c1c42b576f1', N'CH02', N'hung quanga', N'BacNinh', N'Bac Ninh City', N'VietNam')
GO
INSERT [dbo].[DongSP] ([Id], [Ma], [Ten])
VALUES (N'83583306-fd00-4834-936b-06a1ad51c3fc', N'DongSP04', N'Đồ Ăn')
INSERT [dbo].[DongSP] ([Id], [Ma], [Ten])
VALUES (N'766b5464-afa3-4106-81fc-7447734d3657', N'DongSP05', N'Gỗ')
INSERT [dbo].[DongSP] ([Id], [Ma], [Ten])
VALUES (N'e9c5fde5-d87c-40e3-a7a4-a902299c8aec', N'DongSP03', N'Quần Áo')
GO
INSERT [dbo].[HoaDon] ([Id], [IdKH], [IdNV], [Ma], [NgayTao], [NgayThanhToan], [NgayShip], [NgayNhan], [TinhTrang],
                       [TenNguoiNhan], [DiaChi], [Sdt])
VALUES (N'a00f690e-3f0f-4801-ab16-0b36439f2a07', NULL, NULL, N'HD697', CAST(N'2022-10-18' AS Date), NULL, NULL, NULL, 1,
        NULL, NULL, NULL)
INSERT [dbo].[HoaDon] ([Id], [IdKH], [IdNV], [Ma], [NgayTao], [NgayThanhToan], [NgayShip], [NgayNhan], [TinhTrang],
                       [TenNguoiNhan], [DiaChi], [Sdt])
VALUES (N'4cb94dba-2ce9-4832-9fef-0bbfc42831c3', NULL, NULL, N'HD552', CAST(N'2022-10-18' AS Date), NULL, NULL, NULL, 1,
        NULL, NULL, NULL)
INSERT [dbo].[HoaDon] ([Id], [IdKH], [IdNV], [Ma], [NgayTao], [NgayThanhToan], [NgayShip], [NgayNhan], [TinhTrang],
                       [TenNguoiNhan], [DiaChi], [Sdt])
VALUES (N'41b738c6-cbc8-4ad2-a5a3-3782efa7915c', NULL, NULL, N'HD549', CAST(N'2022-10-18' AS Date), NULL, NULL, NULL, 1,
        NULL, NULL, NULL)
GO
INSERT [dbo].[HoaDonChiTiet] ([IdHoaDon], [IdChiTietSP], [SoLuong], [DonGia])
VALUES (N'20c48afd-a623-406f-a935-879dcf320c24', N'61ef5a8e-2013-4778-b314-5fe560ef6a1d', 1,
        CAST(40000 AS Decimal(20, 0)))
INSERT [dbo].[HoaDonChiTiet] ([IdHoaDon], [IdChiTietSP], [SoLuong], [DonGia])
VALUES (N'20c48afd-a623-406f-a935-879dcf320c24', N'3fdab3eb-8225-4bc3-a725-9db2c3856c2b', 2,
        CAST(19000 AS Decimal(20, 0)))
GO
INSERT [dbo].[KhachHang] ([Id], [Ma], [Ten], [TenDem], [Ho], [NgaySinh], [Sdt], [DiaChi], [ThanhPho], [QuocGia],
                          [MatKhau])
VALUES (N'a307fdc7-2c84-4d3d-abb4-43757da88f34', N'KH06', N'Phúc', N'H?ng', N'Ð?', CAST(N'2003-08-03' AS Date),
        N'0962823303', N'Nam Ð?nh', NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([Id], [Ma], [Ten], [TenDem], [Ho], [NgaySinh], [Sdt], [DiaChi], [ThanhPho], [QuocGia],
                          [MatKhau])
VALUES (N'15232849-6b8a-4dc1-bfbc-9ceb251fa1d3', N'KH05', N'Phúc', N'H?ng', N'Ð?', CAST(N'2003-08-03' AS Date),
        N'0962823303', N'Nam Ð?nh', NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([Id], [Ma], [Ten], [TenDem], [Ho], [NgaySinh], [Sdt], [DiaChi], [ThanhPho], [QuocGia],
                          [MatKhau])
VALUES (N'848da39b-0d5c-4c40-87de-a39cd3be3c5b', N'KH04', N'M?nh', N'Van', N'Nguy?n', CAST(N'2003-08-03' AS Date),
        N'0962823303', N'BacNinh', NULL, NULL, NULL)
GO
INSERT [dbo].[MauSac] ([Id], [Ma], [Ten])
VALUES (N'f6bb1959-2bd6-4287-94d8-010a2703cef1', N'MS01', N'Vàng Cứt')
INSERT [dbo].[MauSac] ([Id], [Ma], [Ten])
VALUES (N'5bc9dcb2-000b-46b6-8c94-557ed7d65251', N'MS03', N'Tím Mộng Mơ')
INSERT [dbo].[MauSac] ([Id], [Ma], [Ten])
VALUES (N'2f5169fe-1d80-435d-9780-612738ea52d2', N'MS02', N'Xanh')
GO
INSERT [dbo].[NhanVien] ([Id], [Ma], [Ten], [TenDem], [Ho], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [MatKhau], [IdCH],
                         [IdCV], [IdGuiBC], [TrangThai])
VALUES (N'0920c2bb-d2ca-4fd1-b11f-0598d735b39c', N'NV01', N'Hung', N'Quang', N'Le', N'Nam', CAST(N'2003-08-10' AS Date),
        N'Bac Ninh', N'0962823303', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[NhanVien] ([Id], [Ma], [Ten], [TenDem], [Ho], [GioiTinh], [NgaySinh], [DiaChi], [Sdt], [MatKhau], [IdCH],
                         [IdCV], [IdGuiBC], [TrangThai])
VALUES (N'37e78ca8-aa8f-4f66-9758-c140e72eead2', N'NV02', N'Khai', N'Văn', N'Tran', N'Nữ', CAST(N'2002-09-02' AS Date),
        N'Lai Chau 98', N'0962823303', NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[NSX] ([Id], [Ma], [Ten])
VALUES (N'226f2a78-11cb-47b4-858c-2417c79d46b3', N'NSX03', N'Nhà Sản Xuất 2')
INSERT [dbo].[NSX] ([Id], [Ma], [Ten])
VALUES (N'26edeb82-8020-4e6c-92a9-5a1c4b1f1b4c', N'NSX02', N'Nhà Sản Xuất 1')
INSERT [dbo].[NSX] ([Id], [Ma], [Ten])
VALUES (N'b09bb1ed-796d-4fe9-9453-8e21ca0e274c', N'NSX01', N'Apple')
GO
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten])
VALUES (N'5b6e6315-b2ec-43e7-a87f-1b444c5182bf', N'SP09', N'Quan Hung Yen')
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten])
VALUES (N'b2c9ef1c-a009-472a-b37a-511de397fa17', N'SP05', N'IphoneX')
INSERT [dbo].[SanPham] ([Id], [Ma], [Ten])
VALUES (N'b84c9227-3088-4278-9f81-73ec13257671', N'SP07', N'IphoneX')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__3214CC9E888E42E2]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[ChucVu]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CuaHang__3214CC9E65AC44DB]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[CuaHang]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DongSP__3214CC9EA0AA1E38]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[DongSP]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GioHang__3214CC9E260893A5]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[GioHang]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__3214CC9EEBF3B431]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[HoaDon]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__3214CC9E3F5CBF63]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[KhachHang]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MauSac__3214CC9E1EC4D4AA]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[MauSac]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__3214CC9EAA3D3EF8]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[NhanVien]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NSX__3214CC9ED1F5A9F9]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[NSX]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__3214CC9EA7A18306]    Script Date: 29/03/2023 12:34:48 CH ******/
ALTER TABLE [dbo].[SanPham]
    ADD UNIQUE NONCLUSTERED
        (
         [Ma] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietSP]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChiTietSP]
    ADD DEFAULT (NULL) FOR [NamBH]
GO
ALTER TABLE [dbo].[ChiTietSP]
    ADD DEFAULT (NULL) FOR [MoTa]
GO
ALTER TABLE [dbo].[ChiTietSP]
    ADD DEFAULT ((0)) FOR [GiaNhap]
GO
ALTER TABLE [dbo].[ChiTietSP]
    ADD DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[ChucVu]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChucVu]
    ADD DEFAULT (NULL) FOR [Ten]
GO
ALTER TABLE [dbo].[CuaHang]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CuaHang]
    ADD DEFAULT (NULL) FOR [Ten]
GO
ALTER TABLE [dbo].[CuaHang]
    ADD DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[CuaHang]
    ADD DEFAULT (NULL) FOR [ThanhPho]
GO
ALTER TABLE [dbo].[CuaHang]
    ADD DEFAULT (NULL) FOR [QuocGia]
GO
ALTER TABLE [dbo].[DongSP]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[GioHang]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[GioHang]
    ADD DEFAULT (NULL) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GioHang]
    ADD DEFAULT (NULL) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[GioHang]
    ADD DEFAULT (NULL) FOR [TenNguoiNhan]
GO
ALTER TABLE [dbo].[GioHang]
    ADD DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[GioHang]
    ADD DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[GioHang]
    ADD DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]
    ADD DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[GioHangChiTiet]
    ADD DEFAULT ((0)) FOR [DonGiaKhiGiam]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (NULL) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (NULL) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (NULL) FOR [NgayShip]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (NULL) FOR [NgayNhan]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (NULL) FOR [TenNguoiNhan]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[HoaDon]
    ADD DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]
    ADD DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [TenDem]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [Ho]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [ThanhPho]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [QuocGia]
GO
ALTER TABLE [dbo].[KhachHang]
    ADD DEFAULT (NULL) FOR [MatKhau]
GO
ALTER TABLE [dbo].[MauSac]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [Ten]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [TenDem]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [Ho]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [DiaChi]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [Sdt]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT (NULL) FOR [MatKhau]
GO
ALTER TABLE [dbo].[NhanVien]
    ADD DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NSX]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SanPham]
    ADD DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChiTietSP]
    WITH CHECK ADD FOREIGN KEY ([IdDongSP])
        REFERENCES [dbo].[DongSP] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]
    WITH CHECK ADD FOREIGN KEY ([IdMauSac])
        REFERENCES [dbo].[MauSac] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]
    WITH CHECK ADD FOREIGN KEY ([IdNsx])
        REFERENCES [dbo].[NSX] ([Id])
GO
ALTER TABLE [dbo].[ChiTietSP]
    WITH CHECK ADD FOREIGN KEY ([IdSP])
        REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[GioHang]
    WITH CHECK ADD FOREIGN KEY ([IdKH])
        REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[GioHangChiTiet]
    WITH CHECK ADD CONSTRAINT [FK1_IdGioHang] FOREIGN KEY ([IdGioHang])
        REFERENCES [dbo].[GioHang] ([Id])
GO
ALTER TABLE [dbo].[GioHangChiTiet]
    CHECK CONSTRAINT [FK1_IdGioHang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]
    WITH CHECK ADD CONSTRAINT [FK2_IdChiTietSP] FOREIGN KEY ([IdChiTietSP])
        REFERENCES [dbo].[ChiTietSP] ([Id])
GO
ALTER TABLE [dbo].[GioHangChiTiet]
    CHECK CONSTRAINT [FK2_IdChiTietSP]
GO
ALTER TABLE [dbo].[HoaDon]
    WITH CHECK ADD FOREIGN KEY ([IdKH])
        REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[HoaDon]
    WITH CHECK ADD FOREIGN KEY ([IdNV])
        REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]
    WITH CHECK ADD CONSTRAINT [FK1] FOREIGN KEY ([IdHoaDon])
        REFERENCES [dbo].[HoaDon] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]
    CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]
    WITH CHECK ADD CONSTRAINT [FK2] FOREIGN KEY ([IdChiTietSP])
        REFERENCES [dbo].[ChiTietSP] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]
    CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[NhanVien]
    WITH CHECK ADD FOREIGN KEY ([IdCH])
        REFERENCES [dbo].[CuaHang] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]
    WITH CHECK ADD FOREIGN KEY ([IdCV])
        REFERENCES [dbo].[ChucVu] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]
    WITH CHECK ADD FOREIGN KEY ([IdGuiBC])
        REFERENCES [dbo].[NhanVien] ([Id])
GO
